#header_small_left i{
    color: orange;
    font-size: 13px;
    margin-right: 5px;
}
body{
    font-family: 'Be Vietnam', sans-serif;
}
.header_small{
    height: 70px;
}
#header_small_left li{
    list-style: none;
    float: left;
    font-size: 13px;
    margin-right: 15px;
}
#header_small_left{
    float: left;
}
header{
    margin-top: 10px;
}
#header_small_right{
    float: right;
}
#header_small_right li{
    list-style: none;
    float: left;
    margin-right: 15px;
}
#header_small_right i{
    font-size: 13px;
    color: gray;
}
#header_big_left_img{
    float: left;
}
#header_big_left{
    float: left;
}
#header_big_left_text a {
    list-style: none;
    font-size: 15px;
    float: left;
    margin-right: 30px;
    color: black;
}
#header_big_left_text{
    margin-left: 210px;
}
#header_big_left_text a:hover{
    color: #f9a91f;
    text-decoration: none;
}
#header_big_right{
    float: right;
}
#header_big_right li{
    list-style: none;
    margin-right: 30px;
    float: left;
}
.header_big{
    height: 100px;
}
.header_img{
background-color: rgba(249, 249, 249, 0.87);
    height: 500px;
}
#header_img_left{
    float: left;
    margin-left: 50px;
    margin-top: 150px;
}
#header_img_right{
    float: right;
}
h1{
    font-size: 30px;
    color: #fa7021;
    font-family:Helvetica;
    font-weight: 800;
    margin-bottom: 20px;
}
h5{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 20px;
}
h6{
    margin-top: 50px;
    font-weight: 500;
    font-size: 16px;
}
#cart{
    margin-left: 20px;
}
.section_product{
    background-color: rgba(243, 243, 243, 0.89);
}
#section_product_header{
    height: 200px;
}
#section_product_header p{
    margin-left: 350px;
}
#section_product_product{
    background-color: rgba(243, 243, 243, 0.89);
}
h2{
    margin-top: 70px;
    font-size: 26px;
    margin-left: 500px;
}
b{
    color: #ff5c1b;
    margin-right: 10px;
}
.Product{
    margin-left: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
}
.Product_1{
    background-color: white;
    width: 230px;
    height: 300px;
    float: left;
    margin-left: 80px;
}
.Product_2{
    background-color: white;
    width: 230px;
    height: 300px;
    float: left;
    margin-left: 30px;
}
.Product_4 {
    background-color: white;
    width: 230px;
    height: 300px;
    float: right;
    margin-right: 80px;
}
.Product_3{
    background-color: white;
    width: 230px;
    height: 300px;
    float: right;
    padding-left: 30px;
}
h4{
    color: dimgray;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}
h7{
    font-size: 15px;
    color: #ff6a26;
   margin-left: 60px;
}