*{
    font-size: 25px;
}
#a{}
#a1{
    font-family: 'Raleway', sans-serif;
}
#a2{
    font-family: 'Sulphur Point', sans-serif;
}
#a3{
    font-family: 'Tomorrow', sans-serif;
}
#a4{
    font-family: 'Lobster', cursive;
}
#a5{
    font-family: 'Indie Flower', cursive;
}
#a6{
    font-family: 'Dancing Script', cursive;
}
#a7{
    font-family: 'Pacifico', cursive;
}
#a8{
    font-family: 'Cinzel', serif;}
#a9{
    font-family: 'Courgette', cursive;
}
#a10{
    font-family: 'Satisfy', cursive;
}
#a11{
    font-family: 'Great Vibes', cursive;
}
#a12{
    font-family: 'Kaushan Script', cursive;
}
#a13{
    font-family: 'Lobster Two', cursive;
}
#a14{
    font-family: 'Didact Gothic', sans-serif;
}
#a15{
    font-family: 'Sacramento', cursive;
}
#a16{
    font-family: 'Cookie', cursive;
}
#a17{
    font-family: 'Poiret One', cursive;
}
#a18{
    font-family: 'Orbitron', sans-serif;
}
#a19{
    font-family: 'BenchNine', sans-serif;
}
#a20{
    font-family: 'Handlee', cursive;
}
#a21{
    font-family: 'Prompt', sans-serif;
}

